<div ng-show="country">
  <h3>General information about <b>{{ country.Name | uppercase}}</b><img ng-src="extra/flagIcons/{{ country.Name | lowercase}}.png" width="54" height="40" /></h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <td><b>Languages</b></td>
        <td><b>Responsiveness</b>
          <div class="tooltipCore">
							<span class="glyphicon glyphicon-info-sign"></span>
							<div class="tooltipText">Time (in seconds) in which the call is answered</div>
				</div>
        </td>
        <td><b>Sim needed for 112 calls</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ country.Languages == "Unknown" ? "---" : country.Languages}}</td>
        <td>{{ country.Responsiveness == "Unknown" ? "---" : country.Responsiveness}}</td>
        <td>{{ country.SimNeeded112 == "Unknown" ? "---" : country.SimNeeded112}}</td>
      </tr>
    </tbody>
  </table>

  <div ng-if="country.OnlyNumber == 'No'">
    <h3><b>Emergency Phone Numbers</b></h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <td><b>Emergency Type</b></td>
          <td><b>Phone Number</b></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="emergency in emergencies">
          <td>{{ emergency.Type }}</td>
          <td>{{ emergency.Number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="country.OnlyNumber == 'Yes'">
    <h3>The only emergency phone number for this country is 112.</h3>
  </div>
</div>
