<nav class="navbar">

  <div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
      <span class="fa fa-bars"></span>
    </button>
    <a href="#" class="navbar-brand">CallAsap</a>

  </div>

  <div class="navbar-collapse collapse" id="navMenu">

    <ul class="nav navbar-nav">

      <li ng-class="{active: $state.is('home')}"><a ui-sref="home">Home</a></li>
      <li ng-class="{active: $state.is('search')}"><a ui-sref="search">Search</a></li>
      <li ng-class="{active: $state.is('aboutUs')}"><a ui-sref="aboutUs">About us</a></li>

      <li>
        <a class="icon" href="https://github.com/gkamtzir/callAsap" title="Follow on GitHub" target="_blank"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a class="icon" href="https://plus.google.com/u/0/100012202947812721560" title="Follow with Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
          <a class="icon" href="https://twitter.com/Programmunity/" title="Follow with Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>

    </ul>

  </div>

</nav>
